.bg-image {
    background-image: url('https://media.formula1.com/image/upload/f_auto,c_limit,w_1440,q_auto/t_16by9Centre/f_auto/q_auto/trackside-images/2024/Formula_1_Testing_in_Bahrain___Day_1/2027090951');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }
  
  .gradient-bg {
    background: linear-gradient(135deg, #000000, #FF0000);
  }
  